* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

main {
  background-color: #043988;
  width: 100%;
}

h1 {
  color: #FFFFFF;
  padding: 30px 0;
  text-align: center;
  z-index: 0;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

article,
form {
  background-color: #FCCD2F;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
}

article>h2,
article>p {
  color: #000000;
  margin-bottom: 15px;
}

article>h3 {
  margin-top: 15px;
}

article>ul {
  margin-bottom: 10px;
}

article>ul>li,
article>p,
article>a {
  font-size: 20px;

}

article>ul>li {
  list-style: none;
  margin-left: 20px;
}

.ancla {
  color: #00ADEF;
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.ancla:hover {
  color: #FD7EB2;
}

.imagenes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.imagenes>img {

  height: auto;
  margin-bottom: 10px;
  width: 150px;
}

.block {
  display: block;
  margin: 10px auto;
  width: 100%;
}

.block>input,
.block>textarea,
.block>label {
  font-size: 20px;
}

.block>input,
.block>textarea {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px dashed #000000;
  width: 100%;
}

#contacto>section>form>button {
  display: block;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px 30px;
}

#contacto>section>form>button:hover {
  font-weight: bold;
}

@media (min-device-width: 768px) {
  body>header>a>img {
    height: auto;
    width: 250px;
  }

  #portfolio>section>article {
    width: 30%;
  }

  #inicio>section>article {
    width: 70%;
  }

  #contacto>section>form {
    width: 50%;
  }

  .block {
    width: 400px;
  }

  .block>input,
  .block>textarea {
    width: 100%;
  }
}