footer {
  background-color: #E55E96;
  bottom: 0;
  font-size: 30px;
  height: 100px;
  position: relative;
  padding: 3% 0;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  z-index: 0;
}

footer>p {
  color: #FFFFFF;
}

footer>p>a,
footer>p>a:visited {
  color: #00ADEF;
  text-decoration: none;
}

footer>p>a:hover {
  font-weight: bold;
}

@media (max-device-width: 768px) {}