/* ----- GENERALS ----- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 1rem 0;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
  text-align: start;
}

/* ----- GENERALS ----- */
/* ----- HEADER ----- */
.header__brand {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #043988;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header__brand:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__brand img {
  width: 200px;
}

/* ----- HEADER ----- */
/* ----- NAV ----- */
.nav {
  background: #e55e96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 60px;
  position: relative;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.nav__hamburguer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 60px;
}

@media screen and (min-width: 768px) {
  .nav__hamburguer {
    display: none;
  }
}

.nav__hamburguer__icon {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);
  height: 6px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 50px;
}

.nav__hamburguer__icon::before, .nav__hamburguer__icon::after {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.24);
  content: "";
  height: 6px;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 50px;
}

.nav__hamburguer__icon::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.nav__hamburguer__icon::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

.nav__hamburguer.open .nav__hamburguer__icon {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav__hamburguer.open .nav__hamburguer__icon::before {
  -webkit-transform: rotate(45deg) translateY(0);
          transform: rotate(45deg) translateY(0);
}

.nav__hamburguer.open .nav__hamburguer__icon::after {
  -webkit-transform: rotate(-45deg) translateY(0);
          transform: rotate(-45deg) translateY(0);
}

.nav__content {
  background-color: #e55e96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .nav__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50%;
  }
}

.nav__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: background-color 0.5s ease-in-out, height 1s ease-in-out, opacity 1s ease-in-out;
  transition: background-color 0.5s ease-in-out, height 1s ease-in-out, opacity 1s ease-in-out;
}

.nav__item.active {
  height: 60px;
  opacity: 1;
}

.nav__item:hover {
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav__item {
    border: none;
    border-left: 1px solid white;
    height: 60px;
    opacity: 1;
    width: 30%;
  }
}

.nav__link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.nav__link:hover {
  -webkit-animation: scaleLink 2s ease-in-out;
          animation: scaleLink 2s ease-in-out;
}

/* ----- NAV ----- */
/* ----- MAIN ----- */
.home {
  background-color: #043988;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}

.home__article,
.home .about,
.home .desarrollo {
  background-color: #fccd2f;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
          box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
  padding: 1rem;
  width: 80%;
}

.home__article p,
.home .about p,
.home .desarrollo p {
  margin: 1rem 0;
}

.home .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .home .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home .about__image {
  max-width: 324px;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .home .about__image {
    margin-right: 2rem;
    width: 324px;
  }
}

.home .desarrollo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .desarrollo__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.home .desarrollo__images img {
  width: 199px;
}

@media screen and (min-width: 1199px) {
  .home .desarrollo__images img {
    width: 256px;
  }
}

@media screen and (min-width: 576px) {
  .home .desarrollo__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* ----- MAIN ----- */
/* ----- FOOTER ----- */
footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e55e96;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
}

footer p {
  color: white;
  font-size: 1.5rem;
}

/* ----- FOOTER ----- */
/* ----- ANIMATIONS ----- */
@-webkit-keyframes scaleLink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleLink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ----- ANIMATIONS ----- */
/*# sourceMappingURL=styles.css.map */