$color-bg-main: #043988;
$color-bg-section: #fccd2f;
$color-bg-extra: #e55e96;

$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-gray: rgb(139, 139, 139);
$color-shadow: rgba(0, 0, 0, 0.24);

$font-size: 20px;
